USE [master]
GO
/****** Object:  Database [ProductManagementTest]    Script Date: 02-12-2021 19:13:28 ******/
CREATE DATABASE [ProductManagementTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductManagementTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\ProductManagementTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductManagementTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\ProductManagementTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductManagementTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductManagementTest]
GO
USE [ProductManagementTest]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 02-12-2021 19:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManufactureName] [varchar](max) NULL,
	[Vehicle] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([Id], [ManufactureName], [Vehicle]) VALUES (1, N'Tata', N'Safari')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
USE [master]
GO
